page{
	background-image: url(/static/loginbg.png);
	background-size: 100% 100%;
}

.cenbterbg{
	
	/* background-image: url(/static/centerlogin.jpg); */
	background-size: 100% 100%;  
}
.inputview{
	border:1px solid #c9c9c9;
	width: 60vw;  
	padding:25rpx 25rpx;
	border-radius: 15rpx;
	height: 40rpx;
}
.btns{
	/* background-color:     #E17535; */
	background-color:#E7942E;
	color: white;
	height: 40rpx;
	width: 60vw;
	border-radius: 15rpx;
	text-align: center;
	font-size: 20rpx;
	line-height: 40rpx;
}
.typesel{
	color: red;
}
