page{
	background-image: url(/static/111.jpg);
	background-size: 100% 100%;
}
.cenbterbg{
	
	background-size: 100% 100%;  
}
.inputview{
	border:1px solid #c9c9c9;
	width: 650rpx;  
	padding:25rpx 25rpx;
	border-radius: 15rpx;
}
.type1{
	height: 90rpx;
	border:5rpx solid #E7942E;
	width: 40%;
	text-align: center;
	line-height: 90rpx;
	font-weight: bold;
	color: #E7942E;  
	border-radius: 15rpx;
	box-shadow: #E7942E 0px 0px 3rpx 2rpx;
	margin-bottom: 60rpx;
	margin-top: 30rpx;
	font-size: 40rpx;
}